---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=97211&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "97211",
                       "short_name" : "97211",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Portland",
                       "short_name" : "Portland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Multnomah County",
                       "short_name" : "Multnomah County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oregon",
                       "short_name" : "OR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Portland, OR 97211, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 45.609739,
                          "lng" : -122.5398589
                       },
                       "southwest" : {
                          "lat" : 45.476363,
                          "lng" : -122.6782239
                       }
                    },
                    "location" : {
                       "lat" : 45.5767359,
                       "lng" : -122.6386722
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.609739,
                          "lng" : -122.5398589
                       },
                       "southwest" : {
                          "lat" : 45.55179589999999,
                          "lng" : -122.6782239
                       }
                    }
                 },
                 "place_id" : "ChIJFyD77_amlVQRVYZXcZmqGTM",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 30 Sep 2016 17:47:38 GMT
[...]
