<div class="container">
  <%= image_tag("handshake.jpg", alt: "Two men shaking hands at the Portland Waterfront ", class: "content-image") %>
  <h1>About Portland ESL Network</h1>
  <div class="content-bg">
    <p>The Portland ESL Network is an organization dedicated to sharing information about ESL classes and resources in the Portland Metro area. We hope that students, teachers, and volunteers can find classes in their neighborhoods.</p>
  </div>
</div>
