<div class="container">
  <h1>COVID-19 Updates</h1>
  <div class="content-bg">
    <p>Portland ESL Network will be updating our blog with any new information we receive about class changes due to COVID-19. Please contact class organizers for specific information about closures, delays, and online learning.</p>
    <p>Check out our blog updates here: <a href="https://portlandesl.wixsite.com/wixsite/blog" target="_blank">Portland ESL Network Blog</a></p>
  </div>
</div>
