<div class="container">
  <%= image_tag("river.JPG", alt: "Two women smiling and standing at a viewpoint of the Columbia River", class: "content-image") %>
  <h1>Volunteer with Portland ESL Network</h1>
  <div class="content-bg">
    <p>The Portland ESL Network is looking for volunteer interns! We are seeking the following positions. Please <a href="mailto:heidi.dryden@gmail.com" target="_top">contact us</a> if you are interested!</p>
    <h2>Quarterly Updater</h2>
    <p>Join the Portland ESL Network team to update a section of the website at the beginning of each quarter.</p>
    <ul class="bullets">
      <li>Contact each ESL class and verify and update the class information</li>
      <li>Make appropriate updates to the network’s database</li>
      <li>Test links to make sure they are still active</li>
      <li>Search for new classes in your assigned area of the city (ie. North Portland, Gresham, etc)</li>
      <li>Post any new classes or changes to FB as necessary</li>
      <li>Attend a quarterly Portland ESL Network meeting </li>
      <li>When appropriate help promote the website (ie. manage a Portland ESL Network table at resource fair, hand out brochures)</li>
    </ul>
    <h2>News Publisher/Networker</h2>
    <p>We need a publisher to help with publicity helping people who need to find ESL classes and resources will learn about the Portland ESL Network service.</p>
    <ul class="bullets">
      <li>Email articles regarding the latest Portland ESL Network happenings to community newsletters, email list serves, school for school newsletters, newspapers, online forums and calendars, etc.</li>
      <li>Research social service newsletters and list serves and send email with a paragraph explaining the Portland ESL Network to social services (Goal of 10 list serves reaching at least 25 people each)</li>
      <li>Post Portland ESL Network volunteer opportunities on FB and CNRG and Appling</li>
      <li>Network to help find new class information to add to the class list database</li>
      <li>Post weekly news/tips/esl resources to FB</li>
    </ul>
    <h2>Students Page Makeover</h2>
    <ul class="bullets">
      <li>Test current links</li>
      <li>Add new ones, remove links from sites that are too complicated for beginning ESL Students to use.</li>
      <li>Format page to be aesthetically pleasing</li>
      <li>Update student computer assignment</li>
      <li>Publicize page among ESL students</li>
      <li>Conduct survey with students regarding what they would like and use on the wiki</li>
      <li>Add cell phone apps/resources section</li>
    </ul>
  </div>
</div>
