<h1>Teaching Resources</h1>
<br>
<% if current_admin %>
<%= link_to 'Add a New Link', new_link_path, :class => "btn btn-primary"  %>
<% end %>
<ul class="links-display">
  <% @links.each do |link| %>
  <li id="link_display_<%=link.id%>"><%= render partial: 'display_link', locals: { link: link } %></li>
  <% end %>
</ul>
