---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=17780%20NE%20San%20Rafael%20Street,%20Portland,%20OR,%2097230&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "17780",
                       "short_name" : "17780",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Northeast San Rafael Street",
                       "short_name" : "NE San Rafael St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Wilkes East",
                       "short_name" : "Wilkes East",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
   [...]
