<h1>Learn English in the Real World</h1>
<ul class="volunteer-sites-display">
  <% @sites.each do |site| %>
  <li id="volunteer_site_display_<%=site.id%>"><%= render partial: 'display_volunteer_site', locals: { site: site } %></li>
  <% end %>
</ul>
