<h1>Portland ESL Network Blog</h1>
<div class="content-bg">
  <% if current_admin %>
  <%= link_to 'Add a New Post', new_admin_post_path(current_admin), id: 'new-post-link', class: "btn btn-primary", remote: true  %>
  <% end %>
  <ul id="posts-display">
    <% @posts.each do |post| %>
    <li id="post-display-<%=post.id%>"><%= render partial: 'post', locals: { post: post } %></li>
    <% end %>
  </ul>
  <%= paginate @posts, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-small pagination-centered' %>
</div>
