@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.btn {
  margin: 10px 0;
}

#map-container {
  width: 600px;
}

#map {
  width: 600px;
  height: 300px;
}
