@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.btn {
  margin: 10px 0;
}

.flash-alert {
  font-size: 1.5em;
  color: #FFFFFF;
  background-color: red;
}

.flash-notice {
  font-size: 1.5em;
  color: #FFFFFF;
  background-color: green;
}
