---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123%20ABC%20St,%20Portland,%20OR,%2097211&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "abc",
                       "short_name" : "abc",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Buckman",
                       "short_name" : "Buckman",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Portland",
                       "short_name" : "Portland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Multnomah County",
                       "short_name" : "Multnomah County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oregon",
                       "short_name" : "OR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "97214",
                       "short_name" : "97214",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "abc, Portland, OR 97214, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 45.5181408,
                       "lng" : -122.664803
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.5194897802915,
                          "lng" : -122.6634540197085
                       },
                       "southwest" : {
                          "lat" : 45.5167918197085,
                          "lng" : -122.6661519802915
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJZVq3zQkKlVQRYKx53Frvixw",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 30 Sep 2016 17:08:38 GMT
recorded_with: VCR 3.0.3
